# run = "cowsay Configure me!"
run = "hugo server --buildDrafts --buildFuture --bind 0.0.0.0 --port 443 --baseURL https://aprilslabgithubio.yeongjukim2.repl.co"

onBoot="source .bashrc"

[nix]
channel = "stable-21_11"